.scheme__item {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

@include Screen-md {

  .scheme__item {
    flex-basis: 50%;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .scheme__item:nth-child(2n - 1) {
    padding-right: 10px;
  }
  .scheme__item:nth-child(2n) {
    padding-left: 10px;
  }
}

@include Screen-xs {

  .scheme__item {
    flex-basis: 100%;

    &:nth-child(2n - 1), &:nth-child(2n) {
      padding: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
