.scheme__ellipses {
  align-items: center;
  display: flex;
  height: $size_circle-xl;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $zindex-negative;

  &-inner {
    display: flex;
    margin: 0 -50px;
  }
  &-item {
    display: flex;
  }
  &-item::before, &-item:not(:last-child)::after {
    background-color: $color_grey-10;
    border-radius: 50%;
    content: "";
    display: block;
    height: 6px;
    width: 6px;
  }
  &-item::after {
    margin-left: 22px;
  }
  &-item + &-item {
    margin-left: 22px;
  }
}

@include Screen-lg {

  .scheme__ellipses {
    height: $size_circle-lg;

    &-item:first-child::before, &-item:last-child {
      visibility: hidden;
    }
  }
}

@include Screen-md {

  .scheme__ellipses {
    display: none;
  }
}
