.scheme__circle {
  max-height: $size_circle-xl;
  max-width: $size_circle-xl;
}

@include Screen-lg {

  .scheme__circle {
    max-height: $size_circle-lg;
    max-width: $size_circle-lg;
  }
}

@include Screen-md {

  .scheme__circle {
    border-width: 3px;
    max-height: $size_circle-md;
    max-width: $size_circle-md;
  }
}
