.form__file {
  display: none;

  &-button {
    border: 2px solid transparent;
    max-height: 48px;
    overflow: hidden;
    padding: 12px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:focus {
      border-color: $color_blue-30;
    }
  }
  &-icon {
    background: url("assets/icons/file.svg") no-repeat;
    content: "";
    display: inline-block;
    height: 21px;
    margin-right: 10px;
    margin-top: -1px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 20px;
  }
  &--changed {
    color: $color_base-black;
  }
}

@include Screen-md {

  .form__file {

    &-button {
      max-height: 45px;
    }
  }
}
