html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: $color_base-white;
  font: 400 #{$font_size-base}/1.5 $font_name-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-width: 320px;
  position: relative;

  &.fixed {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
