.button {
  @include Transition(2);
  background-color: $color_base-white;
  border: 1px solid $color_grey-30;
  border-radius: 4px;
  color: $color_midnight-30;
  display: inline-block;
  font-size: Rem(13px);
  line-height: 0.9;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: darken($color_base-white, 6);
  }
}

.button-blue {
  background-color: $color_blue-30;
  border-color: $color_base-white;
  color: $color_base-white;

  &:hover {
    background-color: lighten($color_blue-30, 6);
  }
}
