.button {
  @include Transition(2);
  background-color: $color_base-white;
  border: 1px solid $color_grey-30;
  border-radius: 4px;
  color: $color_midnight-30;
  cursor: pointer;
  display: inline-block;
  font-size: Rem(13px);
  line-height: 11px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: darken($color_base-white, 7);
  }
  &--blue {
    background-color: $color_blue-30;
    border-color: $color_base-white;
    color: $color_base-white;

    &:hover {
      background-color: lighten($color_blue-30, 7);
    }
  }
  &--big {
    border-radius: 3px;
    font-size: Rem(15px);
    font-weight: 600;
    line-height: 16px;
  }
}

@include Screen-md {

  .button {

    &--big {
      font-size: Rem(14px);
      line-height: 13px;
    }
  }
}
