.section__title {
  color: $color_base-white;
  margin-bottom: 30px;
  text-align: center;
}

@include Screen-md {

  .section__title {
    margin-bottom: 25px;
  }
}

@include Screen-xs {

  .section__title {
    margin-bottom: 20px;
  }
}
