.section__desc {
  color: $color_grey-20;
  font-size: Rem(18px);
  margin: 0 0 75px;
  text-align: center;
}

@include Screen-md {

  .section__desc {
    margin-bottom: 60px;
  }
}

@include Screen-xs {

  .section__desc {
    font-size: Rem(16px);
    margin-bottom: 45px;
  }
}
