.header__logo {
  font-family: $font_name-second;
  font-size: Rem(28px);
  font-weight: 800;
  line-height: Rem(28px);
  text-transform: uppercase;

  &-link {
    color: $color_base-white;
  }
  &--blue {
    color: $color_blue-20;
  }
}

@include Screen-lg {

  .header__logo {
    font-size: Rem(26px);
  }
}

@include Screen-md {

  .header__logo {
    font-size: Rem(24px);
  }
}

@include Screen-xs {

  .header__logo {
    font-size: Rem(22px);
  }
}
