$color_base-white: #ffffff;
$color_base-black: #000000;

$color_blue-10: #43abf0;
$color_blue-20: #42a9ed;
$color_blue-30: #3e9cdc;
$color_blue-40: #286690;

$color_midnight-10: #3d4050;
$color_midnight-20: #272733;
$color_midnight-30: #2a2b30;
$color_midnight-40: #10101d;

$color_grey-10: #c3c3c3;
$color_grey-20: #bbbbbb;
$color_grey-30: #6f6d7b;
$color_grey-40: #231f20;
