.checkout__form {

  &-outer {
    display: flex;
    justify-content: center;
  }
  &-file-outer, &-submit-outer {
    margin: 0 auto;
  }
  &-range-outer {
    flex: 1;
  }
  &-submit-outer {
    flex: 0 0 auto;
    margin-top: 10px;
  }
}

@include Screen-sm {

  .checkout__form {

    &-range-outer {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
    &-file-outer {
      flex: 0 0 auto;
    }
    &-submit-outer {
      margin-top: 0;
    }
  }
}

@include Screen-xs {

  .checkout__form {

    &-file-outer, &-submit-outer {
      flex: 1;
    }
  }
}
